{% extends "pages/base.html" %}

{% load i18n %}
{% load account %}


{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}


<div class="container col-xl-10 col-xxl-8 px-4 py-5">

    <h1 class="text-center">Verifique o seu endereço de e-mail</h1>
    <div class="row">
        <p class="col-2"></p>
        <p class="col-8 col-xxl-8 px-4 py-5">Enviamos um e-mail para você para verificação. Siga o link
            fornecido para finalizar o processo de inscrição. Se você não vir o e-mail de verificação em sua caixa de
            entrada principal, verifique
            sua pasta de spam. Entre em contato conosco se você não receber o e-mail de verificação em alguns minutos.
        </p>
        <p class="col-2"></p>
    </div>
    <div class="row">
        <p class="col-4"></p>
        <div class="col-4">
            <a href="{% url 'pages:home'%}" class="w-100 btn btn-lg btn-primary" type="submit">voltar ao site</a>
        </div>
        <p class="col-4"></p>
    </div>
</div>
{% endblock %}