.highlights__row {
    display: flex;
    justify-content: space-between
}

.highlights__card {
    background-color: var(--primary);
    border: 1px solid var(--secundary);
    border-radius: 20px;
    height: 560px;
    width: 328px;
}
