header {
    background-color: #C1E1F9;
    height: 120px;
}

.nav {
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
}

.nav__logo > a > img {
    height: 67px;
    width: 166px;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__menu {
    padding: 10 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__menu > ul {
    display: inline-flex;
    transform: translateY(10px);
}

.nav__menu > ul > li {
    padding: 0 15px;
}

.nav__menu > ul > li > a{
    text-decoration: none;
    color: #464646;
    font: 1em arial;
    font-weight: bold;
}

.nav__search{
    justify-content: right;
}

#input-search {
    border: 1px solid black ;
    border-radius: 12px;
    padding-left: 10px;
    height: 30px;
    width: 261px;
    font: 1em arial;
    background-color: transparent;
}