:root {
  --primary: #64b4f075;
  --secundary: #ffaec8;
  --text: #464646;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
}

h1, h2, h3 {
  color: var(--text);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

header {
  background-color: var(--primary);
  display: flex;
  align-content: center;
  height: 120px;
}

a,
a:hover {
  color: var(--text);
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.logo {
  background-image: url("../../../image/logo.png");
  cursor: pointer;
  transform: scale(0.7);
  height: 93px;
  width: 228px;
  transition: 200ms;
}

.logo:hover {
  transform: scale(0.8);
}

.nav {
  align-items: center;
  justify-content: end;
}

.nav-link {
  color: var(--text);
  font-size: 21px;
  font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
  color: black;
}

.search {
  align-items: center;
  display: flex;
  height: 100%;
}

.search>input {
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 30px;
  padding-left: 10px;
  height: 33px;
}

.magnifier {
  display: flex;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: translateX(-30px) scaleX(-1);
  width: 20px;
}