:root {
  --primary: #64b4f075;
  --secundary: #ffaec8;
  --text: #464646;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

h2 {
  color: var(--text);
  font-weight: 700;
  padding-bottom: 20px;
}

header {
  background-color: var(--primary);
  display: flex;
  align-content: center;
  height: 120px;
}

header > .container {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("../../../image/logo.png");
  transform: scale(0.7);
  height: 93px;
  width: 228px;
}

.nav {
  align-items: center;
  justify-content: end;
}

.nav-link {
  color: var(--text);
  font-size: 21px;
  font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
  color: black;
}

.search {
  align-items: center;
  display: flex;
  height: 100%;
}

.search > input {
  background-color: transparent;
  border: 1px solid var(--text);
  border-radius: 30px;
  padding-left: 10px;
  height: 33px;
}

.magnifier {
  display: flex;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: translateX(-30px) scaleX(-1);
  width: 20px;
}

.banner > img {
  height: 500px;
  width: 100%;
}

.container > section {
  padding: 70px 0;
}

.card {
  margin: 0 20px;
}

.card-img-top {
  border-radius: 20px;
}

.card-body > div:first-child {
  height: 15rem;
}

.heart {
  text-align: center;
}

.heart > svg {
  fill: #ffaec8;
}

.spotlight {
  display: flex;
  justify-content: center;
}

#map {
  height: 80vh;
  width: 100%;
}
