.info-banner {
  width: 100%;
}

.info-banner > div {
  background-image: url("https://i.pinimg.com/originals/b6/a8/b4/b6a8b46e52d3229b08d4edc8360809e6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}

.info-description {
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

.information {
  padding: 0;
}

.information > li {
  display: flex;
  list-style-type: none;
  margin: 20px 0;
}

.info-text {
  margin: 0;
  padding: 0;
}

.filter {
  background-color: var(--primary);
  border-radius: 20px;
  padding: 20px;
}