<section id="section__category">
    <div class="container section_title">
        <h2>Categorias</h2>
    </div>
    <div>
        <div class="category__box">
            <div class="category__row">
                <div class="category__col category__img" id="religioso">
                    <div>
                        <h3>RELIGIOSO</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="gastronomia">
                    <div>
                        <h3>GASTRONOMIA</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="nautico">
                    <div>
                        <h3>NÁUTICO</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="praia">
                    <div>
                        <h3>PRAIA</h3>
                    </div>
                </div>
            </div>
            <div class="category__row">
                <div class="category__col category__img" id="eventos">
                    <div>
                        <h3>EVENTOS</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="agroturismo">
                    <div>
                        <h3>AGROTURISMO</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="ecoturismo">
                    <div>
                        <h3>ECOTURISMO</h3>
                    </div>
                </div>
                <div class="category__col category__img" id="cultura">
                    <div>
                        <h3>CULTURA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>