<section class="container">
    <div>
        <h2>Categorias</h2>
    </div>
    <div>
        <div class="category__box">
            <div class="category__box__row">
                <div class="category__box__col mask"></div>
                <div class="category__box__col" id="gastronomia">
                    <div class="mask">
                        <h3>Gastronomia</h3>
                    </div>
                </div>
                <div class="category__box__col mask">3</div>
                <div class="category__box__col mask">4</div>
            </div>
            <div class="category__box__row">
                <div class="category__box__col mask">5</div>
                <div class="category__box__col mask">6</div>
                <div class="category__box__col mask">7</div>
                <div class="category__box__col mask">8</div>
            </div>
        </div>
    </div>
</section>