{% load static %}

<section class="container">
    <div>
        <h3>Destaques</h3>
    </div>

    <div class="highlights__row">
        <div>
            <div class="highlights__card">
                  <div class="highlights__header">
                    
                  </div>
            </div>
        </div>
        <div>
            <div class="highlights__card">

            </div>
        </div>
        <div>
            <div class="highlights__card">

            </div>
        </div>
    </div>
</section>

<section class="container">
    <div>
        <h3>Destaques</h3>
    </div>
    <div class="conta-destaque-card">
        <div class="spotlight row">
            <div class="card col">
                <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                    <img class="card-img-top" src="/media/places/Parque_estadual_Pedra_da_Cebola.jpg" alt="Pedra da cebola">
                </a>
                <div class="card-body">
                    <div>
                        <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                            <h5 class="card-title">Pedra da cebola</h5>
                            <p class="card-text">
                                A experiência de trilhar sob a luz da lua e céu estrelado é única! Iniciamos 00:30, e em boa parte da trilha não era necessário o uso de lanterna.
                            </p>
                        </a>
                    </div>
                    <div class="heart">
                        <svg class="svg-heart" id="None;76fc1f5b-77a4-4d6e-8d76-325fe6412cd4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="card col">
                <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                    <img class="card-img-top" src="/media/places/Parque_estadual_Pedra_da_Cebola.jpg" alt="Pedra da cebola">
                </a>
                <div class="card-body">
                    <div>
                        <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                            <h5 class="card-title">Pedra da cebola</h5>
                            <p class="card-text">qwert</p>
                        </a>
                    </div>
                    <div class="heart">
                        <svg class="svg-heart" id="None;76fc1f5b-77a4-4d6e-8d76-325fe6412cd4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="card col">
                <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                    <img class="card-img-top" src="/media/places/Parque_estadual_Pedra_da_Cebola.jpg" alt="Pedra da cebola">
                </a>
                <div class="card-body">
                    <div>
                        <a href="/places/pedra-da-cebola/" style="text-decoration:none; color:#000">
                            <h5 class="card-title">Pedra da cebola</h5>
                            <p class="card-text">qwert</p>
                        </a>
                    </div>
                    <div class="heart">
                        <svg class="svg-heart" id="None;76fc1f5b-77a4-4d6e-8d76-325fe6412cd4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destaques-hoje">

    <div>
        <h3>Destaques</h3>

    </div>
    <div class="conta-destaque-card">
        <br><br>
        <div class="spotlight row">

            {% for best in the_best%}

            <div class="card col-3" style="width: 18rem; border-radius: 20px;margin-bottom: 30px; padding: 0;">

                {% if best.banner %}
                <a href="{{best.get_absolute_url}}" style="text-decoration:none; color:#000">
                    <img class="card-img-top" src="{{best.banner.url}}" alt="{{best.name}}" />

                    {% else %}
                    <img class="card-img-top" src="{% static 'img/no_image400x300.png' %}" alt="no image" />
                    {% endif %}
                </a>
                <div class="card-body">
                    <div>
                        <a href="{{best.get_absolute_url}}" style="text-decoration:none; color:#000">
                            <h5 class="card-title">{{best.name}}</h5>
                            <p class="card-text">{{best.description | slice:"0:200"}}</p>
                        </a>
                    </div>
                    <div class="heart">
                        <svg class="svg-heart" id="{{user.id}};{{best.id}}" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z" />
                        </svg>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>