{% load static %}

{% load i18n %}

<header>
    <nav class="nav container">
        <div class="nav__logo">
            <a href="{% url 'pages:home'%}">
                <img src="{% static 'img/logo.png'%}" alt="Logo site" />
            </a>
        </div>
        <div class="nav__box">

            <div class="nav__menu">
                <ul>
                    <li>
                        <a class="nav__item" href="#">Destaques</a>
                    </li>
                    <li>
                        <a class="nav__item" href="{% url 'places:place_list'%}">Categorias</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#maps">Mapas</a></i>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav__item" href="#">Meus Favoritos</a>
                    </li>
                    {% endif %}
                    <li>
                        <div class="nav__search">
                            <input type="text" id="input-search">
                            <div class="nav__icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>

            <div class="nav__user">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </nav>
</header>