{% load static %}

{% load i18n %}

<header>
    <nav class="nav container">
        <div class="nav__logo">
            <a href="{% url 'pages:home'%}">
                <img src="{% static 'img/logo.png'%}" alt="Logo site" />
            </a>
        </div>
        <div class="nav__box">

            <div class="nav__menu">
                <ul>
                    <li>
                        <a href="#">Destaques</a>
                    </li>
                    <li>
                        <a href="{% url 'places:place_list'%}">Lugares Para Visitar</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">Meus Favoritos</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="nav__search">
                <input type="text" placeholder="Buscar" id="input-search">
            </div>
        </div>

        <div aria-label="test">

        </div>
    </nav>
</header>
