{% extends 'pages/base.html' %}
{% load static %}


<!-- block head-->
{% block style %}
<link rel="stylesheet" href="{% static 'css/header.css'%}">
<link rel="stylesheet" href="{% static '/places/css/categorias.css' %}">
<link rel="stylesheet" href="{% static '/places/css/placesList.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css'%}">

{% endblock style%}

{% block title%}
{% if category %}
{{ category.name }}
{%else%}
Lugares Para Visitar
{% endif %}
{% endblock title %}


<!-- block navbar-->
{% block navbar%}
{% include 'components/header.html' %}
{% endblock navbar%}
{% block content %}

<main>
    <div class="container category">
        <div class="category__row">
            <h1 class="category__title">Título da Categoria</h1>
        </div>

        <div class="category__row">
            <h1 class="category__title">Ordenar por</h1>
            <input id="input-filter" type="text" name="filter">
        </div>
        <div class="select-box">
            <div class="opions-container">
                <div class="category__row">
                    <h1 class="category__title">Filtros</h1>
                </div>
                <div class = "option">
                    <input type="radio" 
                    class="radio"
                    id="filtros"
                    name="Category">
                    <label for="filtros">Religioso</label>
                </div>
                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Gastronomia">Gastronomia</label>
                </div>
                
                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Náutico">Náutico</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Praia">Praia</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Cultura">Cultura</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Ecoturismo">Ecoturismo</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Eventos">Eventos</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="Category" />
                    <label for="Agroturismo">Agroturismo</label>
                </div>
            </div>
        </div>
            <img src="https://trilhandomontanhas.com/arquivos/2018-04/pico-da-bandeira-parque-nacional-do-caparao-minas-gerais-media.jpg" alt="Pico da Bandeira">

        <div>
            <h3>    
                Pico da bandeira
            </h3>
        </div>
        <div>
            <p>
                O pico da Bandeira é o ponto mais alto dos estados do Espírito Santo e de Minas Gerais,
                e também de toda a Região Sudeste do Brasil. É também o terceiro ponto mais alto do país,
                com 2891,32 metros de altitude.
            </p>
        </div>
    </div>
</main>

{% endblock content%}

{% block footer%}
{% include 'components/footer.html' %}
{% endblock footer%}
{% block scripts %}

{% endblock scripts %}