{% extends 'pages/base.html' %}
{% load static %}


<!-- block head-->
{% block style %}
<link rel="stylesheet" href="{% static 'css/header.css'%}">
<link rel="stylesheet" href="{% static '/places/css/categorias.css' %}">
<link rel="stylesheet" href="{% static '/places/css/placesList.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css'%}">

{% endblock style%}

{% block title%}
{% if category %}
{{ category.name }}
{%else%}
Lugares Para Visitar
{% endif %}
{% endblock title %}


<!-- block navbar-->
{% block navbar%}
{% include 'components/header.html' %}
{% endblock navbar%}
{% block content %}

<main>
    <div class="container category">
        <div class="category__row">
            <h1 class="category__title">Título da Categoria</h1>
        </div>
    </div>
</main>
{% endblock content%}

{% block footer%}
{% include 'components/footer.html' %}
{% endblock footer%}
{% block scripts %}

{% endblock scripts %}